@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.searchBar{
  input{
    background-color: transparent;
  }
}

.own{
  align-self: flex-end;

  div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;


    p{
      background-color: #5183fe;
      padding: 20px;
      border-radius:10px;
    }
    span{
      font-size: 13px;
    }
  }
 
}

.sender{
  align-self: flex-start !important;
  div{
    flex: 1;
  }
  p{
    background-color: rgba(17,25,40,0.75) !important;
  }
}


/* scroll bar */
.scrollbar-custom {
  overflow-y: auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0.5rem; /* Equivalent to w-2 */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Equivalent to bg-gray-100 */
  border-radius: 9999px; /* Equivalent to rounded-full */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Equivalent to bg-gray-300 */
  border-radius: 9999px; /* Equivalent to rounded-full */
}

@media (prefers-color-scheme: dark) {
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #374151; /* Equivalent to bg-neutral-700 */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Equivalent to bg-neutral-500 */
  }
}
